version: '3.8'
services:
  clickhouse:
    image: clickhouse/clickhouse-server:26.1.3.52-alpine@sha256:5ba33b32cf22441530a7793a8b65b5cb9fff37c3779fe4cabb2a4b9cb460dd35
    restart: always
    environment:
      - CLICKHOUSE_USER=storage
      - CLICKHOUSE_PASSWORD=storage
      - CLICKHOUSE_DB=default
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
    ports:
      - '8123:8123'
      - '9000:9000'
    volumes:
      - clickhouse:/var/lib/clickhouse/

volumes:
  db:
    driver: local
  clickhouse:
    driver: local
