version: '3.8'
services:
  clickhouse:
    image: clickhouse/clickhouse-server:25.12.6.38-alpine@sha256:f76e254dc33c2497e3ce6dc923681dd8643ca36dfa6d7bec0258ecbbe499b03e
    restart: always
    environment:
      - CLICKHOUSE_USER=storage
      - CLICKHOUSE_PASSWORD=storage
      - CLICKHOUSE_DB=default
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
    ports:
      - '8123:8123'
      - '9000:9000'
    volumes:
      - clickhouse:/var/lib/clickhouse/

volumes:
  db:
    driver: local
  clickhouse:
    driver: local
