# Required: Your GCP project ID
GCP_PROJECT_ID=

# Required: Your network (VPC) name to test
NETWORK_NAME=

# Required: GCP Instance ID to test volume listing
# Example: my-gcp-project/us-east4-a/my-gcp-pool-3556b234,my-gcp-project/us-east4-c/my-gcp-pool-a7579587
GCP_INSTANCE_IDS=

# Optional: Path to service account key file
# If not set, will use GOOGLE_APPLICATION_CREDENTIALS or default credentials
GCP_CREDENTIALS_FILE=

# Alternative: You can also use GOOGLE_APPLICATION_CREDENTIALS
# GOOGLE_APPLICATION_CREDENTIALS=/path/to/your-service-account-key.json
