agent:
  reliabilityMetrics:
    enabled: true
    image:
      repository: otel/ebpf-instrument
      tag: "v0.4.1"
    resources:
      requests:
        memory: 128Mi
      limits:
        memory: 512Mi
    openPorts: "80,443,8080,8443,8090,3000,9090,6379"
    env: {}
    containerSecurityContext: {}
    collector:
      enabled: true
      clickhouseExporter:
        enabled: false
      image:
        repository: otel/opentelemetry-collector-contrib
        tag: "0.145.0"
      resources:
        requests:
          memory: 64Mi
        limits:
          memory: 128Mi
      prometheusPort: 9400
      podMonitorLabels:
        release: kube-prometheus-stack

controller:
  reliabilityMetrics:
    enabled: true
    collector:
      enabled: true
      clickhouseExporter:
        enabled: false
      image:
        repository: otel/opentelemetry-collector-contrib
        tag: "0.145.0"
      resources:
        requests:
          cpu: 50m
          memory: 128Mi
        limits:
          memory: 256Mi
      prometheusPort: 9401
      podMonitorLabels:
        release: kube-prometheus-stack
