castai:
  # grpcAddr: "kvisor.dev-master.cast.ai:443"
  apiKey: "test"
  clusterID: "ci"
  enabled: true

image:
  repository: kvisor
  tag: latest

commonLabels:
  team: sec

pyroscope:
  enabled: true

agent:
  enabled: true
  extraArgs:
    log-level: debug
    prom-metrics-export-interval: 10s
    file-hash-enricher-enabled: true
    signature-socks5-detection-enabled: true
    stats-enabled: true
    stats-scrape-interval: 5s
    stats-file-access-enabled: true
    storage-stats-enabled: true
    containers-refresh-interval: "5s"
    ebpf-events-enabled: true
    netflow-enabled: true
    netflow-export-interval: 5s
    process-tree-enabled: true
    ebpf-events-include-pod-labels: 'helm.sh/chart,app.kubernetes.io/name'
    ebpf-events-include-pod-annotations: 'cast.ai'
    data-batch-flush-interval: 5s
    # Uncomment if you want to test high frequency events ingestion to mock server.
    #ebpf-events-policy: "magic_write,sched_process_exec,sock_set_state,net_packet_dns_base,write,open,close,futex,epoll_wait"

  prometheusScrape:
    enabled: true

  containerSecurityContext:
    readOnlyRootFilesystem: false

  resources:
    requests:
     cpu: 10m
     memory: 128Mi
    limits:
     memory: 256Mi

controller:
  enabled: true
  replicas: 1
  extraArgs:
    log-level: debug
    prom-metrics-export-interval: 10s
    image-scan-enabled: true
    image-scan-interval: 5s
    image-scan-init-delay: 5s
    kube-linter-enabled: true
    kube-linter-scan-interval: 5s

  extraEnv:
    SCANNERS_IMAGE: kvisor-scanners

  containerSecurityContext:
    readOnlyRootFilesystem: false
  securityContext:
    runAsNonRoot: false

  prometheusScrape:
    enabled: true

eventGenerator:
  enabled: false
  image:
    repository: kvisor-event-generator
    tag: latest

mockServer:
  enabled: true
  image:
    repository: kvisor-mock-server
    tag: latest

clickhouse:
  enabled: false
  persistentVolume:
    size: 10Gi

  auth:
    database: "kvisor"
    username: "kvisor"
    password: "kvisor"

