name: FOSSA

on:
  push:
    branches:
      - main

jobs:
  fossa-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: fossas/fossa-action@65a5a12203e31a5fcc54154db9c52647f84b1169 # v1
        with:
          api-key: ${{ secrets.FOSSA_API_KEY }}
