name: syft-sbom-ci

on:
  release:
    types: [created]

jobs:
  syft-sbom:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Anchore SBOM Action
        uses: anchore/sbom-action@28d71544de8eaf1b958d335707167c5f783590ad # v0
        with:
          artifact-name: ${{ github.event.repository.name }}-spdx.json
