name: syft-sbom-ci

on:
  release:
    types: [created]

jobs:
  syft-sbom:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Anchore SBOM Action
        uses: anchore/sbom-action@f325610c9f50a54015d37c8d16cb3b0e2c8f4de0 # v0
        with:
          artifact-name: ${{ github.event.repository.name }}-spdx.json
